<footer class="site-footer">

  <div class="wrapper">

    <h1 class="footer-heading"><a href='/'>{{ site.title | escape }}</a></h1>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-4">
        {% for artist_hash in site.data.artists %}
				{% assign artist = artist_hash[1] %}
          {% if artist.name %}
					{% assign link = page.url|remove:'/artists/') %}
          	<a {% if artist.slug == link %} class='active page-link'{% endif %} {% if artist.slug != link %} class='page-link'{% endif %} href="/artists/{{artist.slug}}">{{ artist.name }}</a>
          {% endif %}
        {% endfor %}
      </div>

 

      <div class='footer-col footer-col-4'> 
      	<a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
    </div>

  </div>

</footer>