---
layout: default
---

{% assign artist = site.data.artists[page.artist] %}

<article id='front-new-music'>
	<header>
		<h1>{{artist.name}}</h1>
	</header>
	
	<section class='main-content'>

		<div class='img-container'><img src='{{artist.albums[0].cover}}' /></div>
		<div class='new-music-content'>
			<h2>{{artist.albums[0].name}}</h2>
			<h3>{{artist.albums[0].subtitle}}</h3>
			
			<div class='body'>
				{{artist.albums[0].description}}
			</div>
			
			<a class='big-btn' href='{{artist.albums[0].link}}'>{{artist.albums[0].link_text}}</a>
		</div>
	</section>
</article>

	<aside class='sidebar'>
		<header>
		{{artist.bio}}
		</header>
		
		<section>
			<ul class='social-media-links'>
				<li class='social-media-link'>
					<img src='https://placehold.it/40x40' />
				</li>
			
				<li class='social-media-link'>
					<img src='https://placehold.it/40x40' />
				</li>
			
				<li class='social-media-link'>
					<img src='https://placehold.it/40x40' />
				</li>
			
				<li class='social-media-link'>
					<img src='https://placehold.it/40x40' />
				</li>
			</ul>
		</section>
	</aside>

<hr/>

<section class='artist past-releases'>
	<header>
		<h2>Past Releases</h2>
	</header>
	
	<div class='artist-album-list'>
		<ul class='artist-past-release-list'>
      {% for album in artist.albums %}
				{% if album != artist.albums[0] %}
					<li class='release'>
						<div class='album-main'>
							<img src='{{album.cover}}' />
							<p>{{album.name}}</p>
							<p>{{album.year}}</p>							
						</div>

						
						<div class='description'>
							{{album.description}}
						</div>
					</li>
				{% endif %}
      {% endfor %}
		</ul>
	</div>
</section>