---
layout: default
---

{% assign artist = site.data.artists[page.artist] %}

<article id='front-new-music'>
	<header>
		<h1>{{artist.name}}</h1>
	</header>
	
	<section class='main-content'>

		<div class='img-container'><img src='{{artist.albums[0].cover}}' /></div>
		<div class='new-music-content'>
			<h2>{{artist.albums[0].name}}</h2>
			<h3>{{artist.albums[0].subtitle}}</h3>
			
			<div class='body'>
				{{artist.albums[0].description}}
			</div>
			
			<a class='big-btn' href='{{artist.albums[0].link}}'>{{artist.albums[0].link_text}}</a>
		</div>
	</section>
</article>

	<aside class='sidebar'>
		<header>
		{{artist.bio}}
		</header>
		
		<section>
			<ul class='social-media-links'>
				{% for link in artist.links %}
					<li class='social-media-link'>
						<a href='{{link.link}}'><img src='/assets/{{link.logo}}'/></a>
					</li>
				{% endfor %}
			</ul>
		</section>
	</aside>

{% if artist.albums.size > 1 %}
	<hr/>

	<section class='artist past-releases'>
		<header>
			<h2>Past Releases</h2>
		</header>
	
		<div class='artist-album-list'>
			<ul class='artist-past-release-list'>
	      {% for album in artist.albums %}
					{% if album != artist.albums[0] %}
						<li class='release'>
							<div class='album-main'>
								<img src='{{album.cover}}' />
								<p>{{album.name}}</p>
								<p>{{album.year}}</p>							
							</div>

						
							<div class='description'>
								{{album.description}}
								<div class='album-links'>
									<a href="{{album.link}}">{{album.link_text}}</a>
								</div>
							</div>
						</li>
					{% endif %}
	      {% endfor %}
			</ul>
		</div>
	</section>
{% endif %}